select:required:invalid {
	color: #666;
}

option[value=""][disabled] {
	display: none;
}

option {
	color: #000;
}

button {
	background: none;
}

button::visted {
	color: black;
}





@media only screen and (max-width: 375px) {
input {
	height: 10vh;
	width: 80vw;
	margin-bottom: 10px;
	margin-top: 10px;
	background: white;
	border-radius: 5px;
	border: none;
}

::placeholder {
	color: black;
	text-align: center;
} 





.form-control {
	height: 10vh;
	width: 76.5vw;
	color: black;
}

#acomLocation, #acomList {
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 50px;
	background: white;
	height: 60px;
	width: 100px;
	border-radius: 5px;
}

#acomLocation::visted {
	color: black;
}





.close {
  float: left;
  left: 285px;
  font-size: 50px;
  top: 15px;
  position: absolute;
}

}



// input {
// 	height: 10vh;
// 	width: 80vw;
// 	margin-bottom: 10px;
// 	margin-top: 10px;
// 	background: white;
// 	border-radius: 5px;
// 	border: none;
// }

// ::placeholder {
// 	color: black;
// 	text-align: center;
// } 





// .form-control {
// 	height: 10vh;
// 	width: 76.5vw;
// 	color: black;
// }

// #acomLocation, #acomList {
// 	margin-top: 20px;
// 	margin-left: 100px;
// 	margin-bottom: 50px;
// 	background: white;
// 	height: 60px;
// 	width: 100px;
// 	border-radius: 5px;
// }

// #acomLocation::visted {
// 	color: black;
// }





// .close {
//   float: left;
//   left: 515px;
//   font-size: 60px;
//   top: 9px;
//   position: absolute;
// }
