* {
	margin: 10px;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: #D8D9D7;
}



/*mobile [iPhone 6/7/8]*/

@media only screen and (max-width: 375px) {

#map {
	height: 450px;
	margin: 0 auto;
	padding: 0;
}

#map div {
	margin: 0 auto;
	background: none;
}




.searchInput {
	height: 200vh;
}

.userStay {
	height: 40vh;
}

.userGuest {
	margin-top: 40px;
}

.stayTitle {
	font-size: 42px;
	margin-bottom: 10px;
}

.guestTitle {
	font-size: 42px;
	margin-top: -15px;
	margin-bottom: 15px;
	margin-left: 2px;
}

.userLocation {
	margin-top: 60px;
	top: 100px;
}

#adults {
	width: 293px;
	margin-left: -5px;
	text-align: center;
}




.firstPage {
	margin: 0 auto;
	margin-right: -10px;
	margin-left: -10px;
	border: 3px black solid;
}




.row {
	margin: 0 auto;
	padding: 0;
	width: 300px;
	border: 3px #F2A71B solid;
}

.containerMain {
	background-color: #D8D9D7;
	margin: 0 auto;
	height: 100%;
	border-style: 0px none;
}

#acomStay {
  height: 22vh;
  text-align: center;
  margin: 0 auto;
}

.modal {
	margin: 0 auto;
	padding: 0;
	background: none;
	cursor: pointer;
	height: 650px;
}

.modal-content {
	margin: 0 auto;
	padding: 0;
	width: 360px;
}

.fade {
	margin: 0 auto;
	padding: 0;
	margin-left: 0.5px;
}

#stay1, #stay2, #stay3 {
	float: left; 
	cursor: pointer;
	width: 330px;
}

}




/*desktop*/
// .row {
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 300px;
// }

// .containerMain {
// 	background-color: #D8D9D7;
// 	margin: 0 auto;
// 	height: 100%;
// }

// #acomStay {
// 	margin: 0 auto;
// 	padding: 0;
// }

// .modal {
// 	margin: 0 auto;
// 	padding: 0;
// 	background: none;
// 	cursor: pointer;
// }

// .modal-dialog {
// 	margin: 0 auto;
// 	padding: 0;
// 	top: 100px;
// }

// .modal-content {
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 600px;
// }

// .fade {
// 	margin: 0 auto;
// }

// .stay1, .stay2, .stay3 {
// 	float: left; 
// 	cursor: pointer;
// 	border: 3px black solid;
// 	background: none;
// 	width: 310px;
// }



/*mobile [iPhone 6/7/8]*/

// #acomStay {

// }






/*desktop*/
// .row {
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 300px;
// }

// .containerMain {
// 	background-color: #D8D9D7;
// 	margin: 0 auto;
// 	height: 100%;
// }

// #acomStay {
// 	margin: 0 auto;
// 	padding: 0;
// }

// .modal {
// 	margin: 0 auto;
// 	padding: 0;
// 	background: none;
// 	cursor: pointer;
// }

// .modal-dialog {
// 	margin: 0 auto;
// 	padding: 0;
// 	top: 100px;
// }

// .modal-content {
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 600px;
// }

// .fade {
// 	margin: 0 auto;
// }

// .stay1, .stay2, .stay3 {
// 	float: left; 
// 	cursor: pointer;
// 	border: 3px black solid;
// 	background: none;
// 	width: 310px;
// }



/*mobile [iPhone 6/7/8]*/

// #acomStay {

// }







/*desktop*/
// .row {
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 300px;
// }

// .containerMain {
// 	background-color: #D8D9D7;
// 	margin: 0 auto;
// 	height: 100%;
// }

// #acomStay {
// 	margin: 0 auto;
// 	padding: 0;
// }

// .modal {
// 	margin: 0 auto;
// 	padding: 0;
// 	background: none;
// 	cursor: pointer;
// }

// .modal-dialog {
// 	margin: 0 auto;
// 	padding: 0;
// 	top: 100px;
// }

// .modal-content {
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 600px;
// }

// .fade {
// 	margin: 0 auto;
// }

// .stay1, .stay2, .stay3 {
// 	float: left; 
// 	cursor: pointer;
// 	border: 3px black solid;
// 	background: none;
// 	width: 310px;
// }



/*mobile [iPhone 6/7/8]*/

// #acomStay {
// 	width: 100%;

// }