/*mobile [iPhone 6/7/8]*/

.listName {
	font-size: 35px;
}

.stayList {
	font-size: 26px;
}

.modalTitle{
	font-size: 20px;
}

.modalBody {
	font-size: 15px;
	margin: 0 auto;
}

.mPara {
	text-align: center;
	font-size: 18.5px;
}

#staySynopsis {
	height: 100px;
	
}